<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="management-and-computer-consultants-cordova-plugin-barcode-scanner"
    version="1.0.7">
    
    <name>Barcode Scanner</name>
    <description>A comprehensive barcode scanner plugin for Cordova supporting multiple 1D and 2D barcode formats</description>
    <license>MIT</license>
    <keywords>cordova,barcode,scanner,qr-code,datamatrix,pdf417,ean,upc,code128,code39</keywords>
    <repo>https://github.com/Management-AND-Computer-Consultants/cordova-plugin-barcode-scanner</repo>
    <issue>https://github.com/Management-AND-Computer-Consultants/cordova-plugin-barcode-scanner/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
        <engine name="cordova-android" version=">=3.6.0" />
    </engines>

    <js-module src="www/barcodescanner.js" name="BarcodeScanner">
        <clobbers target="navigator.barcodeScanner" />
    </js-module>

    <!-- Android Platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="android-package" value="com.mccbarcode.BarcodeScannerPlugin" />
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.mccbarcode.BarcodeScannerActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        </config-file>
        
        <source-file src="src/android/BarcodeScannerPlugin.java" target-dir="src/com/mccbarcode" />
        <source-file src="src/android/BarcodeScannerActivity.java" target-dir="src/com/mccbarcode" />
        
        <!-- Use basic Android dependencies that are more likely to be available -->
        <framework src="androidx.core:core:1.6.0" />
        <framework src="androidx.appcompat:appcompat:1.3.1" />
        <framework src="com.google.android.gms:play-services-vision:20.1.3" />
        
        <preference name="ANDROIDX_CORE_VERSION" default="1.6.0"/>
        <preference name="ANDROIDX_APPCOMPAT_VERSION" default="1.3.1"/>
        <preference name="PLAY_SERVICES_VISION_VERSION" default="20.1.3"/>
    </platform>

    <!-- iOS Platform -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDVBarcodeScanner.h" />
        <source-file src="src/ios/CDVBarcodeScanner.m" />
        
        <framework src="AVFoundation.framework" />
        <framework src="CoreGraphics.framework" />
    </platform>

    <!-- Browser Platform -->
    <platform name="browser">
        <js-module src="src/browser/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <runs />
        </js-module>
    </platform>

</plugin> 